@model IEnumerable<Bicycle.Web.Entities.Animal>

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Список тварин з БД</h2>

<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th>
            Фото
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            <img src="@item.UrlLink" alt="Alternate Text" width="150" />
        </td>
    </tr>
}
</table>
